/* Reset some basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #007bff; /* Warna biru */
    color: white;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

h1 {
    margin: 10px 0;
}

/* Tabel */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e1e1e1;
}

/* Tombol */
.back-button {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #28a745; /* Warna hijau */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #218838; /* Warna hijau lebih gelap saat hover */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff; /* Warna biru */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
